<div class="hero-container">
  <div class="hero-logo">
    <img src="/src/assets/Hero/Yellow.png" alt="RamenGo Logo" />
  </div>
  <div class="hero-text-go">
    <h1>go!</h1>
  </div>
  <div class="hero-text-ramen">
    <h2>ラ l メ ン</h2>
  </div>
  <div class="hero-description">
    <p>
      Enjoy a good ramen in the comfort of your house. Create your own ramen and
      choose your favorite flavour combination!
    </p>
  </div>
  <div class="hero-button">
    <button class="button-background">
      <span class="button-label">order now</span>
      <img src="/src/assets/Hero/Fill 1.png" alt="Arrow Icon" />
    </button>
  </div>
  <div class="hero-illustration"></div>
  <!-- Mova os elementos para fora do .hero-illustration -->

  <img
    src="/src/assets/Hero/balao-azul.png"
    class="balloon-blue"
    alt="Blue Balloon"
  />
  <img
    src="/src/assets/Hero/balao-amarelo.png"
    class="balloon-yellow"
    alt="Yellow Balloon"
  />
  <img
    src="/src/assets/Hero/entregadora.png"
    class="delivery-girl"
    alt="Delivery Girl"
  />
  <img
    src="/src/assets/Hero/Ellipse 1.png"
    class="ellipse"
    alt="Ellipse Background"
  />
</div>
