html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rounded Mplus 1c", sans-serif;
  font-size: 1.6rem;
  background: var(--color-off-white);
  color: var(--color-yellow);
}
