body {
  display: flex;
  flex-direction: column;
  font-family: "Rounded Mplus 1c", sans-serif;
  font-size: 16px;
  background: var(--color-off-white);
  color: var(--color-yellow);
  width: 100vw;
}

#hero {
  width: 100vw;
  height: 768px;
  background: var(--pattern-red) no-repeat;
  background-size: cover;
}

#broth {
  width: 100vw;
  height: auto;
  background-color: var(--color-off-white);
}
